.opportunityCard {
  margin: 0 auto;
  width: 328px;
  height: 557px;
  background-color: white;
  border-radius: 30px;
  margin-top: 30px;
}

.mySwiper {
  overflow-y: hidden;
  max-height: '100%';
  height: 100%;
}
